* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(34, 31, 30);
    color: #e6e6e6;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
}

html {
    margin: 0;
    padding: 0;
}















.SNIPPET--language {
    font-family: "Monorama", monospace;
    font-weight: 500;
    opacity: 0.25;
    transition: opacity 0.5s ease;
    padding: 1px 3px;
}

.SNIPPET--language-html {
    font-size: 2.5rem;
}

.SNIPPET--language-html.top-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.SNIPPET--language-html.bottom-left {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
}

.SNIPPET--language-html.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.SNIPPET--language-html.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.SNIPPET--language-css {
    color: #e6e6e6;
    font-size: 2rem;
}

.SNIPPET--language-css.top-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.SNIPPET--language-css.bottom-left {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
}

.SNIPPET--language-css.top-right {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
}

.SNIPPET--language-css.bottom-right {
    grid-column: 3 / 4;
    grid-row: 10 / 11;
    justify-self: end;
}
























.content {
    width: 75%;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    transition: opacity 0.5s ease;
}

.myself {
    grid-column: 2 / 9;
    grid-row: 5 / 6;
    padding-left: 45px;
    padding-top: 75px;
}

.myself img {
    width: 507px;
    height: 442px;
    object-fit: cover;
    float: left;
    shape-outside: url("/img/bgremoverai.com-1.png");
    shape-margin: 8px;
    /* clip-path: polygon(54.96% 1.79%, 61.34% 3.58%, 66.28% 8.83%, 71.04% 13.89%, 73.24% 20.81%, 73.93% 27.14%, 73.59% 33.51%, 76.36% 39.77%, 74.69% 46.52%, 72.02% 52.63%, 67.8% 57.48%, 67.32% 64.02%, 80.1% 70.79%, 93.47% 78.33%, 98.29% 99.61%, 0% 99.61%, 6.47% 76.52%, 32.15% 62.43%, 33.13% 54.28%, 29.73% 48.2%, 28.18% 39.68%, 29.3% 31.07%, 30.93% 18.51%, 36.52% 7.43%, 41.71% 2.04%, 48.58% 0%); */
    transition: opacity 0.5s ease;
}

.myself p {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 500;
    display:inline;
    opacity: 0.5;
    color: #e6e6e6a1;
    transition: opacity 0.5s ease;
}

.content h1 {
    color: #b05200;
    font-size: 9rem;
    font-weight: 900;
    grid-column: 1 / 9;
    grid-row: 6 / 7;
    justify-self: start;
    margin-left: 60px;
    border: #b05200 outset 8px;
    padding: 8px 8px 0 8px;
    box-shadow: 0 0 10px rgba(176, 82, 0, 0.5);
    border-radius: 8px;
}

.content h2 {
    font-size: 5rem;
    font-weight: 700;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    align-self: end;
    margin-left: 65px;
    border: 5px solid #e6e6e63a;
    border-bottom: none;
    padding: 10px 15px 0 15px;
    box-shadow: 0 0 10px #e6e6e650;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #e6e6e6cc;
}

.typewriter {
    grid-column: 4 / 11;
    grid-row: 8 / 10;
    justify-content: start;
    align-items: start;
    display: flex;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 12px;
    color: #e6e6e6a1;
}

.cursor {
    display: inline-block;
    width: 10px;
    color: #e6e6e6a1;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (min-width: 1500px) and (max-width: 2000px) {
    .content h1 {
        font-size: 7rem;
    }

    .myself {
        grid-column: 2 / 10;
    }

    .content h2 {
        font-size: 4rem;
    }

    .typewriter {
        font-size: 2rem;
        grid-column: 3 / 11;
    }
}



















.navigation {
    width: 550px;
    height: 750px;
    background-color: #8a3c0f;
    padding: 0;
    box-sizing: border-box;
    order: 1;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 100px;
    box-shadow: 0 0 8px rgb(138, 60, 15);
    transition: opacity 0.5s ease;
}

.navigation h2 {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 50px 0 35px 50px;
    grid-column: 1 / 4;
    color: #e6e6e691;
}

.navigation ul {
    list-style: none;
    grid-column: 1 / 4;
}

.navigation ul li {
    margin: 0;
    padding: 35px 75px;
}

.navigation ul li a {
    text-decoration: none;
    color: #e6e6e6ce;
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
    display: block;
    height: 35px;
    align-content: center;
}

.navigation ul li a span {
    color: #e6e6e971;
    font-weight: 500;
}

/* .navigation img {
    grid-column: 1 / 4;
    grid-row: 4 / 8;
    width: 175px;
    height: 100px;
    align-self: center;
    justify-self: center;
    padding-right: 25px;
} */



.ps-logo {
    width: 5%;
    height: 5%;
}






















/* --- Navigation Styling --- */
.hover-item {
    position: relative;
    transition: background-color 0.5s ease;
}

/* --- The Visualizer Elements (Initially Hidden) --- */
.padding-visualizer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Allows clicks to go through to the element below */
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
}

.hover-item:hover .padding-visualizer {
    opacity: 1;
}

.padding-visualizer .padding-area {
    position: absolute;
    background-color: rgba(126, 198, 153, 0.25);
    box-sizing: border-box;
    border: 1px dashed #7ec699;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px dashed #e6e6e654;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.075);
}

/* The four padding areas */
.padding-visualizer .top {
    top: 0;
    left: 0;
    width: 100%;
}

.padding-visualizer .bottom {
    bottom: 0;
    left: 0;
    width: 100%;
}

.padding-visualizer .left {
    top: 0;
    left: 0;
    height: 100%;
}

.padding-visualizer .right {
    top: 0;
    right: 0;
    height: 100%;
}

/* The text labels for pixel values */
.padding-visualizer .value {
    position: absolute;
    font-size: 12px;
    background-color: #011627c5;

    /*
    background-color: rgba(34, 31, 30, 0.199);
    color: #e6e6e6a8;
    background-color: rgba(0, 0, 0, 0.438);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.671);
    */

    color: #e6e6e6be;
    background-color: rgba(34, 31, 30, 0.7);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    padding: 3px 5px;
}

/* Positioning the text labels */
.padding-visualizer .top .value {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.padding-visualizer .bottom .value {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.padding-visualizer .left .value {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.padding-visualizer .right .value {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}