* {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 31, 30);
}

.hero {
    display: grid;
    grid-template-columns: 2fr 0fr;
    background-color: rgb(34, 31, 30);
    height: 100vh;
    transition: 300ms;
    justify-items: center;
    align-items: center;
}

.landing {
    background-color: rgb(34, 31, 30)
}

.landing strong {
    background-color: rgb(34, 31, 30);
}

.landing a {
    text-decoration: none;
}

.landing img {
    aspect-ratio: 85 / 19;
    width: 30rem;
}   


/* Cursor */
body {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><text y="18" font-size="25" fill="white">●</text></svg>') 12 12, auto;
}

a:hover,
a:focus {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><text y="18" font-size="25" fill="white">●</text></svg>') 12 12, pointer;
}