* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(34, 31, 30);
    color: #e6e6e6;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;    
}

.carousel {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}



























.SNIPPET--language {
    font-family: "Monorama", monospace;
    font-weight: 500;
    opacity: 0.25;
    transition: opacity 0.5s ease;
    padding: 1px 3px;
}

.SNIPPET--language-cpp {
    font-size: 2.5rem;
}

.SNIPPET--language-cpp.bottom-left {
    grid-column: 1 / 2;
    grid-row: 20 / 21;
}

.SNIPPET--language-cpp.bottom-right {
    grid-column: 18 / 19;
    grid-row: 20 / 21;
}




.language {
    display: flex;
    flex-direction: column;
    padding: 0;
    /* padding-left: 1rem; */
}

.SNIPPET--language-css {
    color: #e6e6e6;
    font-size: 1.75rem;
    position: absolute;
}

.SNIPPET--language-css.top-left {
    top: 0;
    left: 0;
}

.SNIPPET--language-css.bottom-left {
    bottom: 0;
    left: 0;
}

.SNIPPET--language-css.top-right {
    top: 0;
    right: 0;
}

.SNIPPET--language-css.bottom-right {
    bottom: 0;
    right: 0;
}























.navigation {
    position: relative;
    grid-column: 1 / 18;
    justify-self: center;
    grid-row: 1 / 4;
    height: 75%;
    width: 75%;
    /* align-self: start; */
    background-color: #8a3c0f;
    /* background-color: #b0520077; */
    font-weight: 500;



    border-radius: 2px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 5px rgb(138, 60, 15);
    transition: opacity 0.5s ease;
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    /* padding-left: 3rem; */
    /* gap: 4rem; */
}

.navigation ul li {
    padding-top: 1.75rem;
    padding-right: 4.5rem;
}

.navigation ul li:last-of-type {
    padding-right: 0;
}

.navigation ul li a {
    text-decoration: none;
    color: #e6e6e6ce;
    font-size: 1.25rem;
    transition: color 0.8s ease;
}

.navigation ul li a span {
    color: #e6e6e971;
    font-weight: 500;
    transition: color 0.8s ease;
}

.navigation ul li a:hover,
.navigation ul li a:active {
    color: #e6e6e6;
}

.navigation ul li a:hover span,
.navigation ul li a:active span {
    color: #e6e6e6;
}
/* 
.navigation ul li:nth-of-type(2) a {
    color: #e6e6e6;
}

.navigation ul li:nth-of-type(2) a span {
    color: #e6e6e6;
}
 */





















.project {
    grid-column: 1 / 12;
    grid-row: 15 / 17;
    letter-spacing: 2px;
    padding: 1rem 0 0 2rem;
    transition: opacity 0.5s ease;
}

#project--header {
    display: flex;
}

#project--cout,
#project--endl {
    font-size: 1.5rem;
    font-weight: 500;
    color: #888;
    letter-spacing: 2px;
    align-self: end;
    padding: 12px;
}

#project--title {
    font-size: 4.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #b05200;
    transition: opacity 0.5s ease;
    transition: color 0.8s ease;
}

#project--title:hover,
#project--title:active {
    color: #e6e6e6;
}

#project--subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #e6e6e6cf;
    padding: 1rem;
    padding-left: 0.7rem;
    padding-right: 5rem;
    line-height: 2.5rem;
    transition: color 0.8s ease;
}








#project--year {
    grid-column: 12 / 13;
    grid-row: 15 / 17;
    transition: opacity 0.5s ease;
}

#project--software {
    grid-column: 14 / 18;
    grid-row: 15 / 17;
    padding-left: 3rem;
    transition: opacity 0.5s ease;
}
    
#project--year h3,
#project--software h3,
#project--tag h3 {
    font-weight: 300;
    font-size: 1.3rem;
    color: #e6e6e688;
    padding-top: 1rem;
}

#project--year p,
#project--software p,
#project--tag p {
    color: #e6e6e6cf;
    font-weight: 500;
    padding-top: 10px;
    line-height: 2.5rem;
}

#project--year p {
    font-size: 2.5rem;
    padding-top: 20px;
}

#project--software p,
#project--tag p {
    font-size: 1.2rem;
}

.plus--large {
    color: #b05200;
    font-weight: 700;
    font-size: 1.5rem;
}

span {
    color: #b05200;
    font-weight: 500;
    font-size: 1.5rem;
}

#project--snapshot {
    grid-column: 1 / 18;
    grid-row: 5 / 14;
    background-image: url("img/coronavirus.jpeg");
    background-size: cover;
    background-position: center;
    border: 2px solid #e6e6e6b4;
    border-left: none;
    box-shadow: 0 0 5px #e6e6e6b4;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 0.8;
    transition: all  0.5s ease;
}
























.vertical-nav {
    background-color: rgb(28, 24, 23);
    grid-column: 19 / 21;
    grid-row: 1 / 21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    transition: opacity 0.5s ease;
}

.vertical-nav div {
  color: #e6e6e64a;
  font-size: 1.75rem;
  position: relative;
  transition: color 0.3s ease;
  padding: 0 50px;
}

.vertical-nav div.active {
  color: #e6e6e6;
}

.vertical-nav div::after {
  content: ']';
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 5px;
  font-size: 3.5rem;
  opacity: 0;
  transition: opacity 0.8s ease;
  color: #b05200;
  font-weight: 300;
}

.vertical-nav div.active::after {
  opacity: 1;
}

/* .vertical-nav div::after {
  content: '';
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 2.5rem;
  background: transparent;
  transition: background 0.8s ease;
}

.vertical-nav div.active::after {
  background: #b05200;
} */